.lists-page-header {
  min-height: 90px;
}

.lists-page__last-updated-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lists-page-table {
	text-align: left;
}

.lists-page-table__th-buttons {
	width: 160px;
}

.lists-page-table__edit-button {
	margin-right: 10px;
}

.lists-page-table__edit-button--bold {
	font-weight: bold;
}
